

@import url('./gallery.css');

.link-list {
  display: flex;
  list-style: none;
  margin: 40px;
  gap: 20px;
    text-align: center;
      font-weight: 700;
      font-size: 32px;
      line-height: 1.17;
      letter-spacing: -0.02em;
      color: #78320b;
}